<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/form.css">
    <script src="js/validateForm.js" defer></script>
    <title>Coches segunda mano</title>
</head>
<body>
    {{>nav}}

       {{{body}}}

</body>
</html>