
<h2>Añadir Anuncio Coche</h2>

<form action="/usedCars/createUsedCar" method="post">
    <fieldset>
        <legend>Añadir Anuncio Coche</legend>

        <label for="carBrand">Marca</label>
        <input type="text" name="carBrand">

        <label for="carModel">Modelo</label>
        <input type="text" name="carModel">

        <label for="modelYear">Año del Modelo</label>
        <input type="number" name="modelYear">

        <label for="nextItvDate">Fecha Proxima Itv</label>
        <input type="text" name="nextItvDate">

        <label for="sellingPrice">Precio de Venta</label>
        <input type="number" name="sellingPrice">

        <label for="carImage">Imagen del Coche</label>
        <input type="text" name="carImage">

        <label for="carColor">Color del Coche</label>
        <input type="text" name="carColor">

        <label for="seatsNumber">Nº de Asientos</label>
        <input type="number" name="seatsNumber">

        <label for="doorNumber">Nº de Puertas</label>
        <input type="number" name="doorNumber">

        <label for="transmissionType">Tipo de Transmisión</label>
        <input type="text" name="transmissionType">
        
        <label for="motorType">Tipo de Motor</label>
        <input type="text" name="motorType">

        <input type="submit" value="Crear Anuncio">
    </fieldset>
</form>















        {{!-- <label for="cost-price">Precio Compra</label>
        <input type="number" name="cost-price">
        <label for="leasing-price">Precio Leasing</label>
        <input type="number" name="leasing-price">
        <label for="lease-date">Fecha Inicio Leasing</label>
        <input type="date" name="lease-date">
        <label for="lease-return-date">Precio Fin Leasing</label>
        <input type="date" name="lease-return-date">
        <label for="trunk-size">Tamaño de Maletero</label>
        <input type="number" name="trunk-size">
        <label for="co2-emissions">Emisiones CO2</label>
        <input type="text" name="co2-emissions">
        <label for="car-type">Tipo de Coche</label>
        <input type="text" name="car-type">
        <label for="air-conditioner">Aire Acondicionado</label>
        <input type="text" name="air-conditioner">
        <label for="stock"Stock</label>
        <input type="number" name="stock"> --}}