<h1>formulario nuevo usuario</h1>

{{#if error}}
    <h2>{{error}}</h2>
{{/if}}



<form action="/newUser" method="post" id="formNewUser">
    <fieldset>
        {{>atoms/legend texto="Datos personales"}}

        {{>atoms/label labelFor="name" text="Nombre:" }}
        {{>atoms/input inputId="name"  type="text" inputName="name" inputPlaceholder="Nombre" required="required"}}
        <span></span>

        {{>atoms/label labelFor="surname" text="Apellidos:"}}
        {{>atoms/input inputId="surname" type="text" inputName="surname" inputPlaceholder="Apellidos" required="required"}}
    </fieldset>
    <fieldset>
        {{>atoms/legend texto="Datos login"}}

        {{>atoms/label labelFor="userName" text="Nombre de usuario:"}}
        {{>atoms/input inputId="userName" inputId="userNameId" type="text" inputName="userName" inputPlaceholder="Nombre de usuario" required="required"}}

        {{>atoms/label labelFor="password" text="Contrase침a:"}}
        {{>atoms/input inputId="password" inputType="password" inputName="password" inputPlaceholder="Contrase침a" inputMinLength = "6" required="required"}}

        {{>atoms/label labelFor="avatar" text="Avatar:"}}
        {{>atoms/input inputId="avatar" type="file" inputName="avatar"}}
    </fieldset>
    <fieldset>
        {{>atoms/legend texto="Datos contacto"}}

        {{>atoms/label labelFor="email" text="Correo electr칩nico"}}
        {{>atoms/input inputId="email" type="email" inputName="email" inputPlaceholder="Correo electr칩nico" required="required"}}
    </fieldset>
    {{>atoms/button btnId="btnForm" btnType="submit" btnValue="Crear usuario"}}  
</form>

{{#if user}}
    <ul>
        <li>{{this.name}}</li>
        <li>{{this.surname}}</li>
        <li>{{this.avatar}}</li>
    </ul>
{{/if}}